/**** start color ****/



.options-box .gear-check,
.navbar-inverse .navbar-brand span,
.about h1 span,.testmonials span,.contact-us .data .fa:hover
{
	color:#808080;
}

.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover,
 .navbar-inverse .navbar-nav > .active > a:focus,.dropdown-menu > li >a:hover,
.dropdown-menu > li> a:focus,.carousel-indicators .active,.features .container,
.price-table .container,.subscribe .container{
 	background-color:#808080;
 }


 

.dropdown-menu{
	border:3px solid #808080);
}








/**** end color ****/
